# Josh Todes has backend: data, testing, services and Firebase
/firebase/ @todesj
/lib/data.dart @todesj
/lib/services.dart @todesj
/lib/src/data @todesj
/lib/src/services @todesj
/test/ @todesj

# David Tarrab has frontend and android
/android/ @DavidTarrab
/images/ @DavidTarrab
/lib/app.dart @DavidTarrab
/lib/main.dart @DavidTarrab
/lib/widgets.dart @DavidTarrab
/lib/pages.dart @DavidTarrab
/lib/src/pages/ @DavidTarrab
/lib/src/widgets/ @DavidTarrab

# Josh has middleware and ios
/ios/ @todesj
/lib/models.dart @todesj
/lib/src/models/ @todesj
