# android files -- keep: 
# 	- drawables
# 	- AndroidManifest.xml
# 	- both build.gradles
# android/.gradle/
# android/app/src/debug
# android/app/src/profile
# android/app/src/main/java
# android/gradle/
# android/gradle.properties
# android/gradlew
# android/gradlew.bat
# android/local.properties
# android/ramaz_android.iml
# android/settings.gradle
# android/key.properties

# iOS files -- keep: 
# 	- Runner/Assets.xcassets/LaunchImage.imageset
# ios/flutter
# ios/runner.xcodeproj
# ios/runner.xcworkspace
# ios/runner/base.lproj
# ios/runner/appDelegate.h
# ios/runner/appDelegate.m
# ios/runner/generatedPluginRegistrant.h
# ios/runner/generatedPluginRegistrant.m
# ios/runner/info.plist
# ios/runner/main.m


# Personal
*.txt.yaml
todo
/data/

# Firebase folders:
node_modules
firebase/firestore/admin.json
firebase/rules_test/firestore.rules
.firebase


# IDE
*.iml
*.ipr
*.iws
.idea/
.classpath
.project
.settings/
.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub
build/
flutter_*.png
linked_*.png
unlinked.ds
unlinked_spec.ds
**/lib/generated_plugin_registrant.dart

# Android related
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/local.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/.last_build_id
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
