.idea
android/.gradle/
android/app/src/
android/gradle/
android/gradle.properties
android/gradlew
android/gradlew.bat
android/local.properties
android/ramaz_android.iml
android/settings.gradle
android/key.properties
build
ios
.metadata
.packages
pubspec.lock
*.iml
.flutter-plugins
__pycache__
*.json
.gradle/