# Misc flutter files:
.idea
build
ios
.metadata
.packages
pubspec.lock
*.iml
.flutter-plugins
__pycache__
*.json
.gradle/
.dart_tool

# android files -- keep: 
# 	- drawables
# 	- AndroidManifest.xml
# 	- both build.gradles
android/.gradle/
android/app/src/debug
android/app/src/profile
android/app/src/main/java
android/gradle/
android/gradle.properties
android/gradlew
android/gradlew.bat
android/local.properties
android/ramaz_android.iml
android/settings.gradle
android/key.properties