<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramaz.student_life">

    <!-- For re-scheduling notifications -->
    <uses-permission 
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
    />

    <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->
    <application
        android:label="RamLife"
        android:roundIcon="@mipmap/bright_yellow_round"
        android:icon="@mipmap/bright_yellow">

        <meta-data 
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- For showing notifications: -->
        <receiver 
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">

            <intent-filter>
                <action 
                    android:name="android.intent.action.BOOT_COMPLETED"
                ></action>
            </intent-filter>
        </receiver>

        <receiver 
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"
        />
        <!-- End of notifications -->

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <!-- This keeps the Splash Screen up until Flutter starts -->
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/splash_screen"/>

            <!-- And this keeps the Splash Screen up once Flutter starts -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
