<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267381428578-nmanq8j02ula41q4b5rh3fqmu6b4rq83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267381428578-nmanq8j02ula41q4b5rh3fqmu6b4rq83</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>267381428578-n4lbdi0caoi73ms32gehhsb8288uvsb6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6rEaYZeHcxeW5ZU2i_YQCYmwgwx8f07s</string>
	<key>GCM_SENDER_ID</key>
	<string>267381428578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramaz.student-life</string>
	<key>PROJECT_ID</key>
	<string>ramaz-go</string>
	<key>STORAGE_BUCKET</key>
	<string>ramaz-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267381428578:ios:cf65f33793da9ef5</string>
	<key>DATABASE_URL</key>
	<string>https://ramaz-go.firebaseio.com</string>
</dict>
</plist>