<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267381428578-7dem1o3hm0qsb92lpcst43cmj95t4mv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267381428578-7dem1o3hm0qsb92lpcst43cmj95t4mv0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>267381428578-02uu4a03um3dfo10oq6akse1f0dlkc84.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6rEaYZeHcxeW5ZU2i_YQCYmwgwx8f07s</string>
	<key>GCM_SENDER_ID</key>
	<string>267381428578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramaz.coding.ramlife</string>
	<key>PROJECT_ID</key>
	<string>ramaz-go</string>
	<key>STORAGE_BUCKET</key>
	<string>ramaz-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267381428578:ios:196e12b81f2bcae22c5c3b</string>
	<key>DATABASE_URL</key>
	<string>https://ramaz-go.firebaseio.com</string>
</dict>
</plist>